body{
    background-color: #7e7e7d;
}


.container {
    margin-top: 150px;
    margin-left: 400px;
    margin-right: auto;
    width: 800px;
    height: 400px;
}

.main {
    position: absolute;
}

#no {
    position: relative;
}